<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rocklee.fexplorer">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".test.Counter"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.RequestPermissionsActivity" />
        <activity android:name=".activities.PhotoPlayerActivity" />
        <activity android:name=".activities.VideoPlayerActivity" />
        <activity android:name=".activities.DecodeActivity" />
        <service android:name=".test.CounterService"
            android:enabled="true" />
    </application>

</manifest>
